/* Comment */
.cm-s-appsync .cm-comment {
  color: #999;
}

/* Punctuation */
.cm-s-appsync .cm-punctuation {
  color: #555;
}

/* Keyword */
.cm-s-appsync .cm-keyword {
  color: #b11a04;
}

/* OperationName, FragmentName */
.cm-s-appsync .cm-def {
  color: #d2054e;
}

/* FieldName */
.cm-s-appsync .cm-property {
  color: #1f61a0;
}

/* FieldAlias */
.cm-s-appsync .cm-qualifier {
  color: #1c92a9;
}

/* ArgumentName and ObjectFieldName */
.cm-s-appsync .cm-attribute {
  color: #8b2bb9;
}

/* Number */
.cm-s-appsync .cm-number {
  color: #2882f9;
}

/* String */
.cm-s-appsync .cm-string {
  color: #d64292;
}

/* Boolean */
.cm-s-appsync .cm-builtin {
  color: #d47509;
}

/* EnumValue */
.cm-s-appsync .cm-string-2 {
  color: #0b7fc7;
}

/* Variable */
.cm-s-appsync .cm-variable {
  color: #397d13;
}

/* Directive */
.cm-s-appsync .cm-meta {
  color: #b33086;
}

/* Type */
.cm-s-appsync .cm-atom {
  color: #ca9800;
}
